*{
    margin: 0%;
    padding: 0%;
}
#bg-lap{
  margin-top: 26%;
  margin-left: 30%;
  border: 1px solid black;
}
#quote{
    color:rgb(0, 0, 0);
    font-size: x-large;
    font-family: "Brush Script MT", cursive;
    text-align: left;
    margin-top: 40%;
    
}
#lap-vdeo{

  height: 70%;
  width: 60%;
  margin-top: -16%;
  margin-left:38.7%;
  
}
#author{
    color:rgb(255, 255, 254);
    font-size:x-large;
    font-style: italic;
    text-align: left;
    margin-top: -30%;
    margin-left: 26%;
}
#founder{
    margin-top: 10.5%;
    margin-left: 3%;
    font-weight: 600;
    color: #f68218;
    letter-spacing: 1px;
}
#about-fd{
    font-weight: 200;
    margin-left: 20%;
    margin-right: 3%;
    color: black;
    margin-top:-25.5%;
    border-radius: 20px;
    font-family:serif;
    font-size: x-large;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.681), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 28px;
}
#about-cm{ 
     font-weight: 400;
    margin-right: 22%;
    margin-left: 3%;
    color: black;
    margin-top:-22%;
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.681), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 28px;
    border-radius: 20px;

}
#chairman{
    margin-top: 13%;
    margin-right: 3%;
    margin-left: 80%;
    font-weight: 600;
    color: #f68218;
    letter-spacing: 1px;
  }
#line{
    margin-left: 3%;
}
#fd{
    color: rgb(9, 87, 98);
    font-variant: small-caps;
}
#cm{
    color: rgb(9, 87, 98);
    font-variant: small-caps;
}
 #kSR-logo{
    margin-left: 26%;
} 
#a-block{
    border: 1px solid black;
    background-image:linear-gradient(rgba(132, 111, 111, 0.601),rgba(255, 255, 255, 0.653)),url(a-block.jpg.JPG);
    background-repeat: no-repeat;
    background-size:100% ;
    height: 40%;
    width: 100%;
    margin-bottom: -25%;
}
/* marquee{
    font-family: 500;
    height: 2%;
    margin-top: -1.5%;
  color: rgb(195, 208, 207);
  font-variant: small-caps;
  border-style:double;
  background-image: linear-gradient(rgb(89, 50, 50),rgb(39, 73, 98),rgb(46, 62, 46));
   width: 94.5%; 
   margin-left: 5%;
} */

#buzz{
    margin-top: 9.8%;
    border: 1px solid black;
    background-color: #ffffff;
    width: 3%;
}
#hod{
    margin-left: 3%;
    font-weight: 600;
    color: #f68218;
    letter-spacing: 1px;
}
#hod1{
    color: rgb(9, 87, 98);
    font-variant: small-caps;
}

/* .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.561);
    background-color: rgba(0, 0, 0, 0.549);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  } */
  body {
    background-color: #12131700;
  }
/*counting*/

  /* .wrapper {
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content:;
    gap: 10px;
   }  */
   .container1{
    width: 27vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-style:italic;
    font-size: 16px;
    background-color: #21242b65;
    border-bottom: 10px solid #f91818;
    margin-left: 20px;
    margin-top: 28%;
  }
  .container2{
        width: 27vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-style:italic;
    font-size: 16px;
    background-color: #21242b65;
    border-bottom: 10px solid #de0000;
    margin-left: 20%;
    margin-top:-22.3% ;
  }
  .container3{
    width: 27vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    background-color: #21242b65;
    border-bottom: 10px solid #f91818;
    margin-left: 20px;
    margin-top: 1.75%;
  }
  .container4{
        width: 27vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    background-color: #21242b65;
    border-bottom: 10px solid #f91818;
    margin-left: 20%;
    margin-top: -22.25%;
  }
  #code{
    color: rgb(245, 244, 244);
    padding: 10px;
    width: 24%;
    margin-left: 74%;
    margin-top: -7%;
    background: linear-gradient(rgb(162, 0, 0),rgb(3, 3, 113));
    border-radius: 10%;
  }
  i {
    color: #f91818;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #000000;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  .alumini{
    color: #000000;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  .std{
    color: #000000;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  .faculty{
    color: #000000;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #0a0707;
    font-size: 30px;
    text-align: center;
    pad: 0.7em 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    line-height: 0;
  }
  .plus{
    color: rgb(0, 0, 0);
   font-size: 50px;
   text-align: end;
   font-weight: 1000;
   margin-top: -140px;
   margin-right: 11%;
  }
  .plus1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 1000;
    text-align: end;
    margin-top: -140px;
    margin-right: 17%;
    }  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .container {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .container {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 360px) {
    #KSR-logo{
        width: 140%;
        height: 80px;
        margin-left: 4%;
    }
    #a-block{
        background-image:linear-gradient(rgba(132, 111, 111, 0.601),rgba(255, 255, 255, 0.653)), url(IMG_20230210_175426.jpg);
        width:149%;
        height: 240px;
        
    }
    body{
      overflow-x: hidden;
    }
    #code{
      display: none;
      height: 20%;
      font-size: x-small;
    }
    #quote{
      display: none;
    }
    
    #lap-vdeo{

      height: 100%;
      width: 149%;
      margin-top: -21%;
      margin: 0%;
      border: 1px solid black;
      
    }
    #about-fd{
      display: none;
      
    }
    #about-cm{
      display: none;
    }
    #founder{
      margin-left: 35%;
    }
    #chairman{
      width: 68%;
      height: 117%;
      margin-left: 35%;
    }
  }
    
